___

<a href='http://www.pieriandata.com'>https://seaborn.pydata.org/</a>
___
<center><em>Авторские права принадлежат Pierian Data Inc.</em></center>
<center><em>Для дополнительной информации посетите наш сайт <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Диаграммы рассеяния - Scatter Plots

Диаграммы рассеяния (график рассеяния, график разброса) показывают, как различные переменные зависят друг от друга - это основная идея всех графиков, которые показывают связь между переменными.  

Такие связи можно показать с помощью разных типов графиков. Начнём с scatterplot(), и на его примере посмотрим на различные параметры seaborn, применимые и для других графиков.

----
## Данные

Мы будем использовать данные с этого сайта: http://roycekimmons.com/tools/generated_data

In [2]:

import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("dm_office_sales.csv")

In [4]:
df.head()

,division,level of education,training level,work experience,salary,sales
0,printers,some college,2,6,91684,372302
1,printers,associate's degree,2,10,119679,495660
2,peripherals,high school,0,9,82045,320453
3,office supplies,associate's degree,2,5,92949,377148
4,office supplies,high school,1,5,71280,312802

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   division            1000 non-null   object
 1   level of education  1000 non-null   object
 2   training level      1000 non-null   int64
 3   work experience     1000 non-null   int64
 4   salary              1000 non-null   int64
 5   sales               1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

-----

# Диаграмма рассеяния - Scatterplot

In [ ]:
help(sns.scatterplot())

In [ ]:
sns.scatterplot(x='salary',y='sales',data=df)

## Подключение к графику с помощью Matplotlib

**Обратите внимание, что matplotlib за кулисами подключается к графику seaborn (даже без импортирования matplotlib.pyplot). Причина в том, что seaborn сам по себе создаёт объект Figure в matplotlib. При желании мы можем импортировать matplotlib.pyplot и вызывать команды matplotlib, обращаясь к графику seaborn.**

In [11]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df)

## Параметры Seaborn

Очень часто в seaborn используются следующие параметры - hue и palette.

### hue

Раскрашивает точки на графике, используя значения некоторой категориальной переменной в объекте DataFrame

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,hue='level of education', palette='Dark2')
# Если в hue передать укатегариальную переменную, то мы увидим
# различную раскраску точек.
# Если неприрывную - градиент.

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,hue='work experience', palette='magma')

Значения параметра palette можно выбрать из карты цветов (cmap) в Matplotlib:   
https://matplotlib.org/tutorials/colors/colormaps.html 
https://matplotlib.org/stable/users/explain/colors/colormaps.html

In [ ]:
from matplotlib import colormaps
list(colormaps)

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,hue='work experience',palette='rainbow_r')

## Параметры Scatterplot 

Указанные ниже параметры в большей мере относятся именно к scatterplot() 

### size

Позволяет задать размер точек на основе значений некоторой колонки

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,size='work experience')

**С помощью *s=* можно задать одинаковый размер маркера**

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,s=200)

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,s=200,linewidth=0,alpha=0.5, hue='work experience', palette='rainbow_r')

### style

Автоматически выбирает стили на основе некоторой категориальной переменной в наборе данных. Также можно с помощью параметра **markers=** передать список типов маркеров на основе matplotlib, например: ['*','+','o']

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,style='level of education', s=200)

In [ ]:
plt.figure(figsize=(12,8))
# Иногда очень удобно задать ОБА параметра - hue и style - на основе одной и той же колонки
sns.scatterplot(x='salary',y='sales',data=df,style='level of education',hue='level of education',s=100)

## Экспортируем график Seaborn

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,style='level of education',hue='level of education',s=100)

# Вызываем savefig в той же ячейке
plt.savefig('example_scatter.jpg')

----
----