___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Авторские права принадлежат Pierian Data Inc.</em></center>
<center><em>Для дополнительной информации посетите наш сайт <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

#  Матричные графики

**Замечание: Не забудьте посмотреть видео-лекцию; не все наборы данных хорошо подходят для графиков heatmap и clustermap.**

## Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Данные

Мы будем использовать набор данных, который называется "World Population Prospects". В этом отчёте организация United Nations опубликовала оценочные данные о населении всех стран за все года с 1950 до 2020, а также прогнозы для различных сценариев с 2020 до 2100. Мы будем строить наши графики для среднего варианта развития событий.

https://www.ined.fr/en/everything_about_population/data/all-countries/?lst_continent=900&lst_pays=926

Источник: Оценки для текущего года на основе отчёта World Population Prospects. United Nations.

In [11]:
# Прогнозы 2020
df = pd.read_csv('country_table.csv')

In [7]:
df

,Countries,Birth rate,Mortality rate,Life expectancy,Infant mortality rate,Growth rate
0,AFRICA,32.577,7.837,63.472,44.215,24.40
1,ASIA,15.796,7.030,73.787,23.185,8.44
2,EUROPE,10.118,11.163,78.740,3.750,0.38
3,LATIN AMERICA AND THE CARIBBEAN,15.886,6.444,75.649,14.570,8.89
4,NORTHERN AMERICA,11.780,8.833,79.269,5.563,6.11
5,OCEANIA,16.235,6.788,78.880,16.939,12.79
6,WORLD,17.963,7.601,72.766,27.492,10.36

## Heatmap

In [12]:
df = df.set_index('Countries')

In [13]:
df

,Birth rate,Mortality rate,Life expectancy,Infant mortality rate,Growth rate
Countries,,,,,
AFRICA,32.577,7.837,63.472,44.215,24.40
ASIA,15.796,7.030,73.787,23.185,8.44
EUROPE,10.118,11.163,78.740,3.750,0.38
LATIN AMERICA AND THE CARIBBEAN,15.886,6.444,75.649,14.570,8.89
NORTHERN AMERICA,11.780,8.833,79.269,5.563,6.11
OCEANIA,16.235,6.788,78.880,16.939,12.79
WORLD,17.963,7.601,72.766,27.492,10.36

In [ ]:
# Показывает ожидаемый средний возраст (life expectancy) различными цветами
sns.heatmap(df)
# Поскольку масштаб Life expectancy иной (данные не стандартизированы)
# то раскраска не корректна

In [14]:
rates = df.drop('Life expectancy',axis=1)

In [ ]:
sns.heatmap(rates)

In [ ]:
sns.heatmap(rates,linewidth=0.5)

In [ ]:
sns.heatmap(rates,linewidth=0.5,annot=True)

In [ ]:
# Обратите внимание на цветовую палитру
sns.heatmap(rates,linewidth=0.5,annot=True,cmap='viridis')

In [ ]:
# Цвета можно уточнить с помощью значения из набора данных - это параметр center
sns.heatmap(rates,linewidth=0.5,annot=True,cmap='viridis',center=40)

## Clustermap

Рисуем матричный набор данных на основе иерархически-кластеризованной тепловой карты heatmap.

In [ ]:
sns.clustermap(rates)

In [ ]:
sns.clustermap(rates,col_cluster=False)

In [ ]:
sns.clustermap(rates,col_cluster=False,figsize=(12,8),cbar_pos=(-0.1, .2, .03, .4))

In [17]:
rates.index.set_names('',inplace=True)

In [ ]:
rates

In [ ]:
# Вы всегда можете отредактировать набор данных DataFrame перед построением графика
sns.clustermap(rates,col_cluster=False,figsize=(12,8),cbar_pos=(-0.1, .2, .03, .4))

----
----